.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  @include media-breakpoint-down(xs, $grid-breakpoints) {
    background-color: #e7e7f1;
  }
}

.ant-form-large .ant-form-item-label > label {
  height: 20px;
}

.links {
  white-space: nowrap;
}
